.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        background-size: 39.0625rem;
        width: 100%;
        height: 100%;
        background-image: url('/images/bg-pattern-top.svg');
        background-repeat: no-repeat;
        background-position: bottom 23.75rem right 10.4375rem; 

        
        @include breakpoint-up(medium) {
            background-size: 60.9375rem;

            background-position: bottom 21rem right 22rem; 
        }

        @include breakpoint-up(large) {
            background-position: bottom 14.375rem right 34rem; 
        }

        @include breakpoint-up(xlarge) {
            background-position: bottom 16.0625rem right 46.5625rem; 
        }
    }

    
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        background-size: 39.0625rem;
        width: 100%;
        height: 100%;
        background-image: url('/images/bg-pattern-bottom.svg');
        background-repeat: no-repeat;
        background-position: top 22.125rem left 10.8125rem; 

        @include breakpoint-up(medium) {
            background-size: 60.9375rem;
            background-position: top 22.125rem left 22.25rem; 
        }

        @include breakpoint-up(large) {
            background-position: top 17.125rem left 33.625rem;
        }

        @include breakpoint-up(xlarge) {
            background-position: top 23.3125rem left 43.75rem;
        }
    }
}