html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: $darkCyan;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1.15;
    color: $darkDesaturatedBlue;
    overflow: hidden;
}



.flex {
    display: flex;

    &-jc-c {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }
}