$darkCyan: hsl(185, 75%, 39%);
$darkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

$fontMain: 1.125rem;
$fontMedium: 1rem;
$fontSmall: 0.875rem;
